<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['notes']">
        <mat-icon>subject</mat-icon>
        <span>Notes</span>
      </button>
    </mat-menu>
    
  </mat-drawer>
  <mat-drawer-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>

        <span>My App</span>
        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>
  </mat-drawer-content>
</mat-drawer-container>